body {
	background: var(--r-3);
}
.inicioSesionDiv {
	width: 100%;
	text-align: center;
	padding-top: 50px;
}
.inicioSesionForm {
	padding: 10px;
	text-align: center;
	font-weight: bold;
	background: var(--r-1);
	width: max-content;
	border-radius: 10px;
	color: var(--r-0);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.inicioSesionDiv2 {
	border-radius: 10px;
	background: var(--r-1);
	color: var(--r-0);
	padding: 10px;
	width: min-content;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.btn {
	font-weight: bold;
	color: var(--r-0);
	background: var(--r-2);
}
.registrateInput {
	background: var(--r-3);
}
