body {
	background: var(--r-3);
}
.navDiv {
	height: 100px;
	width: 100%;
	top: 0px;
	position: absolute;
}
.navDiv div {
	margin-top: 10px;
	margin-right: 10px;
	float: right;
}
.iniciaSesionButton {
	font-weight: bold;
	background: var(--r-1);
	color: var(--r-0);
}
.registrateButton {
	font-weight: bold;
	background: var(--r-2);
	color: var(--r-0);
}
.div1 {
	padding: 100px;
}
.div2 {
	padding-left: 50%;
	float: right;
	background: var(--r-2);
}
.div3 {
	padding-right: 50%;
	float: left;
}
